@media (max-width: 1439px) {
    .travel {
        &__div {
            &-middle {
                top: 377px;
                left: -25px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .promo {
        &__logo {
            font-size: 40px;
        }
        &__list {
            li {
                margin-left: 30px;
            }
        }
        &__btn {
            margin-left: 30px;
        }
    }
    .offer {
        padding: 50px 0;
    }
    .travel {
        &__wrapper {
            grid-template-columns: 400px 510px;
            grid-template-rows: 667px;
            column-gap: 50px;
            justify-content: center;
        }
        &__div {
            padding-top: 18px;
            width: 120px;
            height: 75px;
            border-radius: 25px;
            &-top, &-down {
                left: 310px;
            }
            &-middle {
                left: -13px;
            }
        }
        &__number {
            font-size: 25px;
            line-height: 25px;
        }
        &__text {
            font-size: 13px;
            line-height: 13px;
        }
        &__description {
            margin-top: 62px;
        }
        &__title {
            font-size: 45px;
            line-height: 65px;
        }
    }
    .recommend {
        padding: 60px 0;
        &__div {
            margin-top: 0;
        }
        &__tabs {
            margin-top: 10px;
        }
        &__wrapper {
            margin-top: 40px;
        }
    }
    .reviews {
        padding: 40px 0 100px 0;
        &__wrapper {
            grid-template-columns: repeat(2, 465px);
        }
        &__text {
            font-size: 17px;
        }
    }
    .footer {
        padding: 40px 0;
        &__register {
            padding: 114px 100px;
            width: 960px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__hamburger {
            display: block;
        }
        &__title {
            font-size: 50px;
            line-height: 75px;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__list {
            position: fixed;
            flex-direction: column;
            justify-content: space-around;
            top: 0;
            left: -100%;
            width: 50%;
            height: 100vh;
            padding: 20px 0 20px 50px; 
            background-color: rgba(0, 0, 0, .8);
            transition: all .6s;
            z-index: 2;
            &_active {
                left: 0;
            }
        }
    }
    .offer {
        padding: 50px 0;
        &__div {
            margin-top: 30px;
        }
    }
    .travel {
        &__wrapper {
            grid-template-columns: 300px 360px;
            grid-template-rows: 500px;
            column-gap: 30px;
            justify-content: center;
        }
        &__div {
            &-top {
                left: 200px;
            }
            &-middle {
                left: -25px;
                top: 250px;
            }
            &-down {
                left: 200px;
                top: 375px;
            }
        }
        &__description {
            margin-top: 0;
        }
        &__title {
            font-size: 30px;
            line-height: 45px;
        }
        &__descr {
            margin-top: 15px;
            font-size: 15px;
            line-height: 175%;
        }
        &__btn {
            margin-top: 30px;
        }
    }
    .reviews {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 540px);
        }
    }
    .footer {
        &__register {
            padding: 114px 10px;
            width: 720px;
        }
        &__down {
            margin-top: 40px;
            flex-direction: column;
            align-items: center;
        }
        &__links {
            margin-top: 10px;
            li {
                margin-left: 10px;
                &:nth-child(1) {
                    margin-left: 0;
                }
            }
        }

    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        &__nav {
            padding-top: 0;
        }
        &__hamburger {
            top: 25px;
            right: 0px;
        }
        &__title {
            font-size: 42px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__list {
            padding-left: 10px;
        }
    }
    .offer {
        &__title {
            font-size: 40px;
            line-height: 40px;
        }
    }
    .travel {
        padding: 40px 0;
        &__wrapper {
            grid-template-columns: 540px;
            gap: 30px;
            justify-content: center;
        }
        &__photo {
            width: 70%;
            margin: 0 auto;
        }
        &__div {
            &-top, &-down {
                left: 300px;
            }
            &-middle {
                left: -50px;
            }
        }
        &__title {
            text-align: center;
        }
        &__btn {
            display: block;
            margin: 0 auto;
            margin-top: 30px;
        }
    }
    .recommend {
        padding: 30px 0;
        &__title {
            font-size: 40px;
            line-height: 55px;
        }
    }
    .footer {
        &__register {
            width: 540px;
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .promo {
        &__logo {
            font-size: 22px;
            line-height: 50px;
        }
        &__hamburger {
            width: 30px;
            height: 20px;
            top: 17px;
            span {
                height: 3px;
                margin-bottom: 3px;
            }
            &_active {
                span {
                    &:nth-child(1) {
                        transform: translateY(9px) rotate(-45deg);
                    }
                }
            }
        }
        &__list {
            width: 80%;
        }
        &__title {
            font-size: 20px;
            line-height: 45px;
        }
        &__subtitle {
            font-size: 14px;
            margin-top: 190px;
        }
    }
    .offer {
        &__title {
            font-size: 23px;
            line-height: 23px;
        }
        &__div {
            width: 300px;
        }
        &__tab {
            padding: 10px 15px;
        }
        &__wrapper {
            grid-template-columns: 300px;
        }
        &-item {
            padding-left: 21px;
            img {
                width: 80%;
                height: 203px;
            }
            &__time {
                font-size: 16px;
                top: 112px;
                right: -61px;
            }
            &__info {
                margin-top: 15px;
            }
            &__type {
                font-size: 12px;
            }
            &__day {
                font-size: 12px;
            }
            &__title {
                font-size: 20px;
                line-height: 25px;
            }
            &__price {
                font-size: 20px;
            }
            &__btn {
                width: 95px;
                height: 45px;
                margin-left: 15px;
            }
        }
    }
    .travel {
        padding: 20px 0;
        &__wrapper {
            grid-template-columns: 300px;
        }
        &__div {
            &-top, &-down {
                left: 140px;
            }
        }
        &__title {
            font-size: 25px;
            line-height: 40px;
        }
        &__btn {
            width: 170px;
            height: 65px;
        }
    }
    .recommend {
        padding: 30px 0;
        &__title {
            font-size: 35px;
            line-height: 50px;
        }
        &__div {
            width: 300px;
        }
        &__tab {
            padding: 10px 18px;
            font-size: 15px;
        }
        &__wrapper {
            margin-top: 30px;
        }
    }
    .reviews {
        padding: 25px 0 100px 0;
        &__wrapper {
            grid-template-columns: 300px;
        }
        &__text {
            line-height: 30px;
        }
        &__quotes {
            top: 20px;
        }
        &__review {
            padding: 60px 15px 65px 15px;
        }
    }
    .footer {
        &__register {
            padding-top: 50px;
            width: 300px;
            height: 380px;
            border-radius: 60px;
        }
        &__title {
            font-size: 29px;
            line-height: 50px;
        }
        &__down {
            margin-top: 20px;
        }
        &__llc {
            font-size: 13px;
        }
        &__links {
            a {
                font-size: 20px;
            }
        }
    }
}