.recommend {
    padding: 120px 0;
    background-color: #f5f7ff;
    &__div {
        margin: 0 auto;
        margin-top: 40px;
        width: 365px;
    }
    &__tabs {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: 40px;
    }
    &__tab {
        padding: 10px 23px;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: all 0.3s;
        &_active {
            background: #FFFFFF;
            border-radius: 10px;
            font-weight: 600;
            color: #3E86F5;
        }
    }
    &__wrapper {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 280px);
        gap: 20px;
    }
    &__contant {
        display: none;
        &_active {
            display: contents;
        }
    }
    &__item {
        padding: 10px 10px 0 10px;
        background: #FFFFFF;
        box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        position: relative;
        width: 280px;
        height: 293px;
        &-img {
            width: 260px;
            height: 200px;
            object-fit: cover;
        }
        &-star {
            position: absolute;
            display: flex;
            justify-content: space-between;
            width: 55px;
            height: 20px;
            top: 24px;
            left: 200px;
            background: #FFFFFF;
            border-radius: 25px;
            padding: 0 10px;
            img {
                display: block;
                width: 15px;
            }
        }
        &-number {
            font-weight: 500;
            font-size: 12px;
            line-height: 22px;
            color: #000000;
        }
        &-titel {
            margin: 20px 0 0 20px;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            color: #000000;
        }
        &-location {
            display: flex;
            margin: 5px 0 0 18px;
        }
        &-text {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: rgba(0, 0, 0, 0.5);
        }
    }
}