.promo {
    min-height: 100vh;
    margin: 0 auto;
    background: url(../img/bg.png) no-repeat 50%/cover;
    //background-size: 130%;
    position: relative;
    transition: .8s;
    &__nav {
        display: flex;
        justify-content: space-between;
        padding-top: 27px;
        transition: .6s;
    }
    &__logo {
        font-weight: 500;
        font-size: 48px;
        line-height: 72px;
        color: #FFFFFF;
    }
    &__hamburger {
        display: none;
        position: absolute;
        right: 50%;
        transform: translateX(-50%);
        top: 51px;
        right: 5px;
        width: 40px;
        height: 30px;
        cursor: pointer;
        span {
            display: block;
            height: 5px;
            width: 100%;
            background-color: #fff;
            margin-bottom: 5px;
            border-radius: 4px;
            transition: .5s all;
        }
        &_active {
            span {
                &:nth-child(1) {
                    transform: translateY(13px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
    &__list {
        display: flex;
        list-style-type: none;
        li {
            font-weight: 300;
            font-size: 24px;
            line-height: 65px;
            margin-left: 50px;
            a {
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
    &__btn {
        width: 141px;
        height: 65px;
        background: #FFFFFF;
        border-radius: 10px;
        border: none;
        margin-left: 50px;
        font-weight: 300;
        font-size: 24px;
        line-height: 36px;
        color: #3E86F5;
    }
    &__titles {
        position: absolute;
        width: 100%;
        top: 26%;
        left: 50%;
        transform: translateX(-50%);
    }
    &__title {
        font-weight: 600;
        font-size: 60px;
        line-height: 96px;
        text-align: center;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #FFFFFF;
        margin-bottom: 0;
        transition: .6s;
    }
    &__subtitle {
        margin-top: 25px;
        font-weight: 300;
        font-size: 24px;
        line-height: 200%;
        text-align: center;
        color: #FFFFFF;
        transition: .6s;
    }
}